name: socketsocketcan CI

on: [push, pull_request]

# Ensure that the workflow is only triggered once per PR, subsequent pushes to the PR will cancel and restart the workflow.
# See https://docs.github.com/en/actions/using-jobs/using-concurrency
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  wheels:
    name: Build ${{ matrix.cibw_archs }} wheels
    runs-on: ${{ matrix.os }}
    timeout-minutes: 15
    env:
      CIBW_BUILD_VERBOSITY_LINUX: 3
      CIBW_ARCHS: ${{ matrix.cibw_archs }}
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            cibw_archs: x86_64
          - os: ubuntu-24.04-arm
            cibw_archs: armv7l aarch64
    steps:
    - uses: actions/checkout@v6
      with:
        persist-credentials: false

    - name: Setup uv
      uses: astral-sh/setup-uv@v7
      with:
        enable-cache: false

    - name: Build wheels
      run: uvx --from cibuildwheel@3.3.1 cibuildwheel --output-dir wheelhouse

    - uses: actions/upload-artifact@v6
      with:
        name: socketsocketcan-${{ matrix.os }}-${{ github.sha }}
        path: ./wheelhouse/*.whl
        retention-days: 1
        if-no-files-found: error

  sdist:
    name: Build sdist
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
    - uses: actions/checkout@v6
      with:
        persist-credentials: false

    - name: Setup uv
      uses: astral-sh/setup-uv@v7
      with:
        enable-cache: false

    - name: Build sdist
      run: uv build --sdist

    - name: Upload sdist as artifact
      uses: actions/upload-artifact@v6
      with:
        name: socketsocketcan-sdist-${{ github.sha }}
        path: dist
        retention-days: 1
        if-no-files-found: error

  release:
    needs: [wheels, sdist]
    name: Release
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
    - uses: actions/download-artifact@v7
      with:
        pattern: socketsocketcan-*-${{ github.sha }}
        path: socketsocketcan
        merge-multiple: true

    - name: Setup uv
      uses: astral-sh/setup-uv@v7
      with:
        enable-cache: false

    - name: Check dist
      id: twine
      run: uvx twine check socketsocketcan/*

    - name: Publish to private PyPI server
      id: pypi
      if: ${{ steps.twine.conclusion == 'success' && startsWith(github.ref, 'refs/tags/') }}
      run: uvx twine upload --repository-url ${{ secrets.PYPI_URL }} -u ${{ secrets.PYPI_USERNAME }} -p ${{ secrets.PYPI_PASSWORD }} socketsocketcan/*

    - name: Calculate checksums
      run: |
        pushd socketsocketcan
          sha256sum * > SHA256SUMS
          cat SHA256SUMS
        popd

    - name: Publish to Github Release
      uses: softprops/action-gh-release@v2
      if: ${{ steps.pypi.conclusion == 'success' }}
      with:
        files: socketsocketcan/*
        draft: true
        fail_on_unmatched_files: true
